.single_blog{
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  padding: 30px;
}
.single_blog_title{
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
}
.blog-meta {
  margin-bottom: 15px;
  color: #777777;
}
.blog-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.blog-meta ul li + li {
  padding-left: 20px;
}
.blog-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.blog-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}
.blog-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}
.blog-footer i {
  color: #5e5e5e;
  display: inline;
}
.blog-footer a {
  color: #1e1e1e;
  transition: 0.3s;
  text-decoration: none;
}
.blog-footer a:hover {
  color: #e03a3c;
}
.blog-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}
.blog-footer .cats li {
  display: inline-block;
}
.blog-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}
.blog-footer .tags li {
  display: inline-block;
}
.blog-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}
.blog-cats {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  padding:5px 10px;
}